:root{
    --Limegreen: hsl(163, 72%, 41%);
    --Brightred: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram-start: hsl(37, 97%, 70%);
    --Instagram-end: hsl(329, 70%, 58%);
    --YouTube: hsl(348, 97%, 39%);
    --Togle-bg-start: hsl(210, 78%, 56%);
    --Togle-bg-end: hsl(146, 68%, 55%);
    --Togle: hsl(230, 22%, 74%);
    --Dark-bg: hsl(230, 17%, 14%);
    --Dark-top-bg: hsl(232, 19%, 15%);
    --Dark-Card: hsl(228, 28%, 20%);
    --Dark-text-1: hsl(228, 34%, 66%);
    --Dark-text-2: hsl(0, 0%, 100%);
    --Light-bg: hsl(0, 0%, 100%);
    --Light-top-bg: hsl(225, 100%, 98%);
    --Light-Card: hsl(227, 47%, 96%);
    --Light-text-1: hsl(228, 12%, 44%);
    --Light-text-2: hsl(230, 17%, 14%);
}
